@import url('./globals.css');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Nunito', sans-serif;
    background-color: #f8fafb;
    margin: 0;
}

main {
    max-width: 1200px;
    margin: 0 auto;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 50px;
    background-color: rgb(229, 229, 229);
}

.bill {
    margin: 64px 0;
    max-width: 800px;
}