@import url('./globals.css');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

div {
    width: 100%;
}

body {
    font-family: 'Nunito', sans-serif;
    background-color: #f8fafb;
    margin: 0;
}

main {
    max-width: 1300px;
    padding-top: 64px;
    margin: 0 auto;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 50px;
    background-color: var(--dark-gray);
    background-color: #2478b1;
    color: #fff;
}

.bill {
    margin: 32px 0;
    max-width: 800px;
    background-color: #fff;
    padding: 24px;
    border: 1px solid #ead8d8;
}

.text-red {
    color: var(--red);
}

nav a {
    color: #fff;
    margin-left: 16px;
}

ul {
    max-width: 700px;
    margin-left: 16px;
}

li {
    margin-bottom: 16px;
    display: list-item;
    list-style-position: outside;
}

.bill-heading {
    background-color: #fff;
    padding: 24px;
    margin-bottom: 32px;
    border: 1px solid #ead8d8;
}

.bill-section {
    padding: 24px;
    border: 1px solid #d8e0ea;
    background-color: #fff;
    margin-bottom: 32px;
}

.ai-summary {
    background-color: #e0f0f5;
}

.large-container {
    max-width: 1450px;
    margin: 0 auto;
}

.bill-page .main-content .left-column {
    width: 75%;
    margin-right: 32px;
}

.bill-page .main-content .right-column {
    width: 25%;
}

.sponsor {
    margin-bottom: 16px;
}

.representative {
    margin-bottom: 16px;
    padding: 16px;
    background-color: #fff;
    border: 1px solid #d8e0ea;
    max-width: 800px;
}

.representative p:last-child {
    margin-bottom: 0;
}

.btn-container {
    width: fit-content;
}

.btn-container a {
    display: block;
    text-decoration: none;
    white-space: nowrap;
    margin-bottom: 16px;
}

.pagination {
    padding: 20px;
    margin-bottom: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 800px;
}

input,
select {
    padding: 8px;
    border-radius: 5px;
    border: 1px solid rgb(163, 167, 174);
    font-size: 14px;
}

.pagination a {
    display: inline-block;
}

.input-group {
    display: flex;
    flex-direction: column;
    max-width: 200px;
}

.input-group label {
    margin-bottom: 4px;
    font-weight: 400;
    font-size: 16px;
}

.page-filters form {
    display: flex;
    align-items: flex-end;
}

.page-filters form .input-group {
    margin-right: 22px;
}

.btn {
    padding: 8px 18px;
    background-color: #2478b1;
    border: 1px solid #2478b1;
    border-radius: 8px;
    color: #fff;
    font-weight: 400;
    font-size: 16px;
}

.btn:hover {
    cursor: pointer;
    background-color: #57a4d6;
}

.btn-primary {
    background-color: #2478b1;
    border: 1px solid #2478b1;
    color: #fff;
}

.btn-secondary {
    background-color: #77afd4;
    border: 1px solid #2478b1;
    color: #fff;
}

.quick-info {
    margin-left: 40px;
}

.tag {
    background-color: #97a8b3;
    color: #fff;
    padding: 6px 12px;
    border-radius: 4px;
    font-size: var(--font-size-8);
    white-space: nowrap;
}