@import url('./globals.css');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Nunito', sans-serif;
    background-color: #f8fafb;
    margin: 0;
}

main {
    max-width: 1200px;
    padding-top: 64px;
    margin: 0 auto;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 50px;
    background-color: var(--dark-gray);
    background-color: #2478b1;
    color: #fff;
}

.bill {
    margin: 64px 0;
    max-width: 800px;
}

.text-red {
    color: var(--red);
}

nav a {
    color: #fff;
}